// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap.min.css';

.topBar{
    font-size: 16px;
    background-color: black;
    color: white;
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 20;
    
    a{
      color:darkgrey;
      padding-right: 15px;
    }

}

body{
    padding-top: 45px;
    background: #F1F3FA;
}

header{
    font-size: 65px;
    text-align: center;
   // color: deepskyblue;
    a:hover,a{
        text-decoration: none;
        color: deepskyblue;
    }
}

.zonaProfil{
    padding-top: 75px;
}

.container{
    a:nth-child(2){
        padding-left: 15px;
    }
}